/node_modules
/public/hot
/public/storage
/storage/*.key
/src/vendor
/src/composer.lock
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/*
.DS_Store
/src
